// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #896cfe;
$primary-dark: #9176fa;
$secondary: #b3a0ff;
$accent: #e2f163;
$background: #f5f5f5;
$text-light: #232323;
$text-dark: #ffffff;

$dark: #1d1d1d;
$dark-page: #232323;

$positive: #4caf50;
$negative: #e07a5f;
$info: #31ccec;
$warning: #f2c037;

:root {
  --primary: #{$primary};
  --primary-dark: #{$primary-dark};
  --secondary: #{$secondary};
  --accent: #{$accent};
  --background: #{$background};
  --text-light: #{$text-light};
  --text-dark: #{$text-dark};
  --dark: #{$dark};
  --dark-page: #{$dark-page};
  --positive: #{$positive};
  --negative: #{$negative};
  --info: #{$info};
  --warning: #{$warning};
}
